
{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['ironic-api', 'ironic-conductor', 'python-ironicclient'],
        'services': ['ironic-api', 'ironic-conductor'],
        'notification': False,
    },
    'RedHat': {
        'pkgs': ['ironic-api', 'ironic-conductor', 'python-ironicclient'],
        'services': ['ironic-api', 'ironic-conductor'],
        'notification': False,
    },
}, merge=pillar.ironic.get('server', {})) %}